.pixelify {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    /* or 700 */
    font-style: normal;
}

.header {
    color: white;
    text-align: center;
}

body {
    margin: 0;
    background: pink;
    font-family: "Pixelify Sans", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.pixelated-text {
    font-smooth: never;
    -webkit-font-smoothing: none;
}